In [6]:
# import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [7]:
# Store the CSV created in part one into DataFrame
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alice Springs,AU,2022-07-05 00:12:38,-23.7000,133.8833,40.55,65,0,5.75
1,1,Thompson,CA,2022-07-05 00:08:01,55.7435,-97.8558,69.17,25,89,6.71
2,2,Yinchuan,CN,2022-07-05 00:10:39,38.4681,106.2731,77.36,41,69,8.03
3,3,Praia,CV,2022-07-05 00:12:39,14.9215,-23.5087,74.48,79,52,10.25
4,4,Puerto Ayora,EC,2022-07-05 00:12:39,-0.7393,-90.3518,72.55,89,67,5.01

In [8]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use Google API key
gmaps.configure(api_key = g_key)

In [11]:
# Get the maximum temperature
max_tem = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temps in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add mimimum and maximum temperature values
min_temp = float(input("What is the minimum temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip75
What is the maximum temperature you would like for your trip90

In [24]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Yinchuan,CN,2022-07-05 00:10:39,38.4681,106.2731,77.36,41,69,8.03
11,11,Butaritari,KI,2022-07-05 00:12:42,3.0707,172.7902,83.17,74,42,19.89
14,14,Sur,OM,2022-07-05 00:12:43,22.5667,59.5289,85.78,71,100,2.13
15,15,Dicabisagan,PH,2022-07-05 00:12:43,17.0818,122.4157,82.74,73,100,1.63
18,18,Atuona,PF,2022-07-05 00:12:44,-9.8000,-139.0333,77.83,72,38,23.78
26,26,Wewak,PG,2022-07-05 00:12:47,-3.5534,143.6268,83.32,71,99,0.58
30,30,Carmen,MX,2022-07-05 00:12:48,18.6333,-91.8333,84.24,79,75,11.50
33,33,Avarua,CK,2022-07-05 00:12:49,-21.2078,-159.7750,75.25,88,100,6.91
34,34,Georgetown,MY,2022-07-05 00:09:23,5.4112,100.3354,78.89,86,20,4.61
38,38,Itacoatiara,BR,2022-07-05 00:12:51,-3.1431,-58.4442,75.67,89,82,2.95

In [28]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2      Yinchuan      CN     77.36  38.4681  106.2731
11   Butaritari      KI     83.17   3.0707  172.7902
14          Sur      OM     85.78  22.5667   59.5289
15  Dicabisagan      PH     82.74  17.0818  122.4157
18       Atuona      PF     77.83  -9.8000 -139.0333
26        Wewak      PG     83.32  -3.5534  143.6268
30       Carmen      MX     84.24  18.6333  -91.8333
33       Avarua      CK     75.25 -21.2078 -159.7750
34   Georgetown      MY     78.89   5.4112  100.3354
38  Itacoatiara      BR     75.67  -3.1431  -58.4442

In [30]:
# Set parameters to search for a hotel
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [32]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and the latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Yinchuan,CN,77.36,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
11,Butaritari,KI,83.17,3.0707,172.7902,Isles Sunset Lodge
14,Sur,OM,85.78,22.5667,59.5289,Sur Plaza Hotel
15,Dicabisagan,PH,82.74,17.0818,122.4157,Nancy Montanes Bernardo
18,Atuona,PF,77.83,-9.8000,-139.0333,Villa Enata
26,Wewak,PG,83.32,-3.5534,143.6268,In Wewak Boutique Hotel
30,Carmen,MX,84.24,18.6333,-91.8333,Hotel Lossandes
33,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
34,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
38,Itacoatiara,BR,75.67,-3.1431,-58.4442,BBB Rooms Centro Itacoatiara AM

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, 
                                 max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))